{{! Partial for a single post }}
<div class="post">
    <div class="post-avatar">
        <img class="avatar post-avatar-only" src="/avatar/{{this.username}}" alt="User Avatar">
    </div>
    <div class="post-content preserve-newlines">
        <!-- the post -->
        <a class="spanTitle" href="/post/{{this.id}}">{{this.title}}</a>
        <p class="spanContent">{{this.content}}</p>
        <div class="post-status-bar">
            <!-- everything that is shown in the status bar -->
            <div class="span-desc">
                <div class="like-delete">
                {{#isLoggedInAndOwner this.username}}
                <i onclick="handleDeleteClick(event)" data-id="{{this.id}}" class="fa-solid fa-trash delete-button"></i>
                {{else}}
                    <i onclick="handleLikeClick(event)" data-id="{{this.id}}" class="fa-solid fa-heart like-button {{#if this.likedByCurrentUser}}liked{{/if}}"></i>
                {{/isLoggedInAndOwner}}
                    <p id="like-counter-{{this.id}}">{{this.likes}} likes</p>
                </div>
                <p>Posted By: {{this.username}} on {{this.timestamp}}</p>
            </div>
        </div>
    </div>
</div>

<script>
    async function handleLikeClick(event) {
        const buttonElement = event.target.closest('.like-button');
        const postId = buttonElement.getAttribute('data-id');
        const likeCounterID = document.querySelector(`#like-counter-${postId}`);

        try {
            let response = await fetch(`/like/${postId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            let data = await response.json();

            if (data.status === 'success') {
                buttonElement.classList.toggle('liked', data.action === 'liked');
                likeCounterID.textContent = `${data.likeCounter} likes`;
            } else {
                console.error(data.message);
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }

    async function handleDeleteClick(event) {
        const buttonElement = event.target.closest('.delete-button');
        const postId = buttonElement.getAttribute('data-id');        

        try {
            let response = await fetch(`/delete/${postId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            let data = await response.json();

            if (data.status === 'success') {
                window.location.reload();
            } else {
                console.error('Failed to delete post');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
